@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    @apply bg-main
}

/* Chrome  */
/* .test::-webkit-slider-runnable-track {
    @apply w-96 h-1 bg-light border-none rounded-md
} */

/* .test::-webkit-slider-thumb {
    @apply appearance-none border-none h-2 w-2 rounded-full bg-secondary
} */

/* Firefox  */
/* .test::-moz-range-track {
    @apply w-96 h-1 bg-light border-none rounded-md
} */
/* .test::-moz-range-thumb {
    @apply appearance-none border-none h-2 w-2 rounded-full bg-secondary
} */

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

